[submodule "themes/jeffprod"]
	path = themes/jeffprod
	url = https://github.com/Tazeg/hugo-blog-jeffprod.git
[submodule "output"]
	path = output
	url = https://github.com/matt-FFFFFF/matt-ffffff.github.io.git
